body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

.drop-down-pointer {
  cursor: pointer;
}

.base-icon {
  position: absolute;
  top: 15px;
  right: 15px;
}

.menu-icon {
  position: absolute;
  top: 15px;
  padding: 5px 10px;
  border-radius: 3px;
  outline: none !important;
  cursor: pointer;
  &-right {
    right: 15px;
  }
  &-left {
    left: 15px;
  }
}

.main-loader {
  &.base-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &.spinner {
    width: 4rem;
    height: 4rem;
  }
}

.logout {
  border: none;
  height: 40px;
  width: 100px;
}
